.box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.box:not(:last-child) {
  margin-bottom: 20px;
}

.box label {
  align-self: start;
}

.box input,
.box select {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
  outline-color: var(--accent-color);
}
