@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent-color: #3879f4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(182, 231, 248);
}

.flex-box {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.side {
  width: 200px;
  background-color: var(--accent-color);
  padding: 30px;
  color: #fff;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
}

.side p {
  font-size: 20px;
  font-weight: bold;
}

.flex-box > div:last-child {
  background-color: #fff;
  flex: 1;
  padding: 50px;
}

h1 {
  margin-bottom: 25px;
  color: var(--accent-color);
  display: flex;
  gap: 10px;
  align-items: center;
}

h1 svg {
  color: var(--accent-color);
}

.gradient-text {
  background: linear-gradient(90deg, #3879f4, #6aa8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 25px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.is-available {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.is-available input[type="checkbox"] {
  accent-color: var(--accent-color);
}

table {
  width: 100%;
}

table td,
table th {
  padding: 5px 8px;
  border-bottom: 1px solid #ddd;
  text-align: start;
}
